<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebPractise</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet_1</display-name>
    <servlet-name>Servlet_1</servlet-name>
    <servlet-class>Servlet_1</servlet-class>
    <init-param>
      <param-name>country</param-name>
      <param-value>India</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_1</servlet-name>
    <url-pattern>/Servlet_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_2</display-name>
    <servlet-name>Servlet_2</servlet-name>
    <servlet-class>Servlet_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_2</servlet-name>
    <url-pattern>/Servlet_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_A</display-name>
    <servlet-name>Servlet_A</servlet-name>
    <servlet-class>Servlet_A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_A</servlet-name>
    <url-pattern>/Servlet_A</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_B</display-name>
    <servlet-name>Servlet_B</servlet-name>
    <servlet-class>Servlet_B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_B</servlet-name>
    <url-pattern>/Servlet_B</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieAddServlet</display-name>
    <servlet-name>CookieAddServlet</servlet-name>
    <servlet-class>CookieAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieAddServlet</servlet-name>
    <url-pattern>/CookieAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieRetriveServlet</display-name>
    <servlet-name>CookieRetriveServlet</servlet-name>
    <servlet-class>CookieRetriveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieRetriveServlet</servlet-name>
    <url-pattern>/CookieRetriveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/arithmeticError.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/numberFormatError.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/notFound.jsp</location>
  </error-page>
  <error-page>
    <exception-type>DatabaseException</exception-type>
    <location>/databaseError.jsp</location>
  </error-page>
  
</web-app>