**/.project
**/.settings/
**/bin/
**/.project
**/Debug
**/Release
**/.classpath
**/.pydevproject
**/a.out
**/*.gch
**/*~
main
main.o
**/*.class
**/*.iml
.idea
**/*.exe
**/CMakeFiles/
**/*.o
**/*.bin
cpp/cmake-build-debug/
