<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DBProject/src/edu/buffalo/cse562/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.buffalo.cse562.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--data /home/cksharma/data/git/db-prjs/db/tpch  /home/cksharma/data/git/db-prjs/db/tpch/query/query3.sql"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DBProject"/>
</launchConfiguration>
