<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NewsIndexerProj/newsindexer/edu/buffalo/cse/irf14/query/QueryParser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.buffalo.cse.irf14.query.QueryParser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NewsIndexerProj"/>
</launchConfiguration>
