<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LabExam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ItemsFile</param-name>
    <param-value>C:\Users\chandrakant.sharma\workspace\LabExam\src\com\onmobile\training\item.xml</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>MyServletContextListener</display-name>
    <servlet-name>MyServletContextListener</servlet-name>
    <servlet-class>com.onmobile.training.MyServletContextListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletContextListener</servlet-name>
    <url-pattern>/MyServletContextListener</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.onmobile.training.MyServletContextListener</listener-class>
  </listener>
  <error-page>
    <exception-type>com.onmobile.training.ItemNotFoundException</exception-type>
    <location>/itemNotFound.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/numberFormatError.jsp</location>
  </error-page>
  <error-page>
    <exception-type>com.onmobile.training.InsufficientItemException</exception-type>
    <location>/insufficientItem.jsp</location>
  </error-page>
  <filter>
    <display-name>LogFilter</display-name>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.onmobile.training.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
	<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ItemController</display-name>
    <servlet-name>ItemController</servlet-name>
    <servlet-class>com.onmobile.training.ItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemController</servlet-name>
    <url-pattern>/ItemController</url-pattern>
  </servlet-mapping>
</web-app>