<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>FirstWebPr</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>FirstServlet</display-name>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>com.onmobile.training.FirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/FirstServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SecondServlet</display-name>
		<servlet-name>SecondServlet</servlet-name>
		<servlet-class>com.onmobile.training.SecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecondServlet</servlet-name>
		<url-pattern>/SecondServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletA</display-name>
		<servlet-name>ServletA</servlet-name>
		<servlet-class>com.onmobile.training.ServletA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletA</servlet-name>
		<url-pattern>/ServletA</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletB</display-name>
		<servlet-name>ServletB</servlet-name>
		<servlet-class>com.onmobile.training.ServletB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletB</servlet-name>
		<url-pattern>/ServletB</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ThirdServlet</display-name>
		<servlet-name>ThirdServlet</servlet-name>
		<servlet-class>com.onmobile.training.ThirdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThirdServlet</servlet-name>
		<url-pattern>/ThirdServlet</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>language</param-name>
		<param-value>Java</param-value>
	</context-param>
	<context-param>
		<param-name>book</param-name>
		<param-value>SCJP</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>AddCookieServlet</display-name>
		<servlet-name>AddCookieServlet</servlet-name>
		<servlet-class>com.onmobile.training.AddCookieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCookieServlet</servlet-name>
		<url-pattern>/AddCookieServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RetriveCookieServlet</display-name>
		<servlet-name>RetriveCookieServlet</servlet-name>
		<servlet-class>com.onmobile.training.RetriveCookieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetriveCookieServlet</servlet-name>
		<url-pattern>/RetriveCookieServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddSessionServlet</display-name>
		<servlet-name>AddSessionServlet</servlet-name>
		<servlet-class>com.onmobile.training.AddSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSessionServlet</servlet-name>
		<url-pattern>/AddSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RetriveSessionServlet</display-name>
		<servlet-name>RetriveSessionServlet</servlet-name>
		<servlet-class>com.onmobile.training.RetriveSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetriveSessionServlet</servlet-name>
		<url-pattern>/RetriveSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>URLRewriteServlet</display-name>
		<servlet-name>URLRewriteServlet</servlet-name>
		<servlet-class>com.onmobile.training.URLRewriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>URLRewriteServlet</servlet-name>
		<url-pattern>/URLRewriteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddContextAttributeServlet</display-name>
		<servlet-name>AddContextAttributeServlet</servlet-name>
		<servlet-class>com.onmobile.training.AddContextAttributeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContextAttributeServlet</servlet-name>
		<url-pattern>/AddContextAttributeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RetriveContextAttributeServlet</display-name>
		<servlet-name>RetriveContextAttributeServlet</servlet-name>
		<servlet-class>com.onmobile.training.RetriveContextAttributeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetriveContextAttributeServlet</servlet-name>
		<url-pattern>/RetriveContextAttributeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MyServletContextListener</display-name>
		<servlet-name>MyServletContextListener</servlet-name>
		<servlet-class>com.onmobile.training.MyServletContextListener</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServletContextListener</servlet-name>
		<url-pattern>/MyServletContextListener</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MyServletContextListener1</display-name>
		<servlet-name>MyServletContextListener1</servlet-name>
		<servlet-class>com.onmobile.training.MyServletContextListener1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServletContextListener1</servlet-name>
		<url-pattern>/MyServletContextListener1</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.onmobile.training.MyServletContextListener</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>JdbcServlet</display-name>
		<servlet-name>JdbcServlet</servlet-name>
		<servlet-class>com.onmobile.training.JdbcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JdbcServlet</servlet-name>
		<url-pattern>/JdbcServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>JdbcServletPlayer</display-name>
		<servlet-name>JdbcServletPlayer</servlet-name>
		<servlet-class>com.onmobile.training.JdbcServletPlayer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JdbcServletPlayer</servlet-name>
		<url-pattern>/JdbcServletPlayer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>JdbcServletPlayerAdd</display-name>
		<servlet-name>JdbcServletPlayerAdd</servlet-name>
		<servlet-class>com.onmobile.training.JdbcServletPlayerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JdbcServletPlayerAdd</servlet-name>
		<url-pattern>/JdbcServletPlayerAdd</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/arithmeticError.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/numberFormatError.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/notFound.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>EmployeeServlet</display-name>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>com.onmobile.training.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/EmployeeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetPlayerDetails</display-name>
		<servlet-name>GetPlayerDetails</servlet-name>
		<servlet-class>com.onmobile.training.GetPlayerDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPlayerDetails</servlet-name>
		<url-pattern>/GetPlayerDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PlayerController</display-name>
		<servlet-name>PlayerController</servlet-name>
		<servlet-class>com.onmobile.training.PlayerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlayerController</servlet-name>
		<url-pattern>/PlayerController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PlayerControllerAddPlayer</display-name>
		<servlet-name>PlayerControllerAddPlayer</servlet-name>
		<servlet-class>com.onmobile.training.PlayerControllerAddPlayer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlayerControllerAddPlayer</servlet-name>
		<url-pattern>/PlayerControllerAddPlayer</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>com.onmobile.training.DatabaseException</exception-type>
		<location>/databaseError.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>ELServlet</display-name>
		<servlet-name>ELServlet</servlet-name>
		<servlet-class>com.onmobile.training.ELServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ELServlet</servlet-name>
		<url-pattern>/ELServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>LogFilter</display-name>
		<filter-name>LogFilter</filter-name>
		<filter-class>com.onmobile.training.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		<display-name>PerformanceFilter</display-name>
		<filter-name>PerformanceFilter</filter-name>
		<filter-class>com.onmobile.training.PerformanceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PerformanceFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher> <!-- by deafult it is request .. so to forward the filter of the jsp or servlet 
			then do forward -->
		<dispatcher>REQUEST</dispatcher>
		<!-- include can also be used here.. if one servlet is including the other 
			servlet then other's servlet's fileter will also be invoked.. -->
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>MovieServlet</display-name>
		<servlet-name>MovieServlet</servlet-name>
		<servlet-class>com.onmobile.training.MovieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MovieServlet</servlet-name>
		<url-pattern>/MovieServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestCustomTagServlet</display-name>
		<servlet-name>TestCustomTagServlet</servlet-name>
		<servlet-class>com.onmobile.training.TestCustomTagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestCustomTagServlet</servlet-name>
		<url-pattern>/TestCustomTagServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>JSTLServlet</display-name>
		<servlet-name>JSTLServlet</servlet-name>
		<servlet-class>com.onmobile.training.JSTLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSTLServlet</servlet-name>
		<url-pattern>/JSTLServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RedirectingServlet</display-name>
		<servlet-name>RedirectingServlet</servlet-name>
		<servlet-class>com.onmobile.training.RedirectingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedirectingServlet</servlet-name>
		<url-pattern>/RedirectingServlet</url-pattern>
	</servlet-mapping>
</web-app>