<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AjaxPrj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstAjaxServlet</display-name>
    <servlet-name>FirstAjaxServlet</servlet-name>
    <servlet-class>com.onmobile.training.FirstAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstAjaxServlet</servlet-name>
    <url-pattern>/FirstAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.onmobile.training.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveEmployee</display-name>
    <servlet-name>RetriveEmployee</servlet-name>
    <servlet-class>com.onmobile.training.RetriveEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveEmployee</servlet-name>
    <url-pattern>/RetriveEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.onmobile.training.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XMLAjaxServlet</display-name>
    <servlet-name>XMLAjaxServlet</servlet-name>
    <servlet-class>com.onmobile.training.XMLAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLAjaxServlet</servlet-name>
    <url-pattern>/XMLAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.onmobile.training.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>