grant {
  permission java.security.SecurityPermission "getPolicy", "*";
  permission java.util.PropertyPermission "user.home", "write";
};

grant {
  permission java.util.PropertyPermission "user.home", "read";
};

