<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id = "dataSource" class = "org.apache.commons.dbcp.BasicDataSource"> <!-- this class is also already in spring framework -->

<property name = "driverClassName" value = "com.mysql.jdbc.Driver"></property>

<property name = "url" value = "jdbc:mysql://localhost:3306/world"></property>

<property name = "username" value = "root"></property>

<property name = "password" value = "root"></property>

<property name = "maxActive" value = "5"></property>

</bean>

<bean id="simpleTemplate" class = "org.springframework.jdbc.core.simple.SimpleJdbcTemplate"> <!--  these are already there in spring framework.. -->
<constructor-arg ref = "dataSource"></constructor-arg>
</bean>

<bean id = "dao" class = "com.onmobile.training.spring.jdbc.CustomerDAO">

<property name = "template" ref = "simpleTemplate"></property>
</bean>

</beans>
